.App {
  .Title {
    margin: 20px;
  }

  .Status {
    color: #ccc;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .Board {
    background-color: #777;
    display: inline-grid;
    gap: 4px;
    grid-template-columns: repeat(var(--size), 60px);
    grid-template-rows: repeat(var(--size), 60px);
    padding: 10px;

    & > * {
      align-items: center;
      border: 2px solid #bbb;
      color: #fff;
      display: flex;
      justify-content: center;
      height: 100%;
      user-select: none;
      width: 100%;
    }

    & > .hidden {
      background-color: #bbb;
      cursor: pointer;
    }

    & > .marked {
      background-color: #d9aa35;
    }

    & > .number {
      background-color: transparent;
    }

    & > .mine {
      background-color: #f00;
    }
  }
}
